.credit-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
        flex-direction: row;
        justify-content: left;
    }
    
    img {
        height: 20px;
        margin-left: 10px;
    }
}